# include:
#   - project: 'jatic/cdao/cicd'
#     file: '.gitlab-ci.yml'
#     ref: 'fix-python-version'

stages:
  - test
  - docs
  - deploy

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  GITLAB_REPO_URL: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi"


# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/topics/caching/
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
  paths:
    - .cache/pip
  
before_script:
  - python --version  # For debugging
  - pip install virtualenv
  - TMP_DIR=$(mktemp -d)
  - virtualenv $TMP_DIR/venv
  - source $TMP_DIR/venv/bin/activate
  - python -m pip install --upgrade pip
  - pip install tox

default:
  tags:
    - CDAO

tests:
  tags:
    - CDAO
  stage: test
  image: python:$PYTHON_VERSIONS
  parallel:
    matrix:
      - PYTHON_VERSIONS: ["3.9", "3.10", "3.11"]
  script:
    - echo "Testing against minimum dependencies."
    - tox -e py

coverage:
  tags:
    - CDAO
  stage: test
  image: python:3.9
  script:
  - echo "Coverage Testing"
  - tox -e coverage

min-deps:
  tags:
    - CDAO
  stage: test
  image: python:3.9
  script:
    - echo "Testing against minimum dependencies."
    - tox -e min-deps

enforce-format:
  tags:
    - CDAO
  stage: test
  image: python:3.9
  script:
    - echo "Test code formatting issues."
    - tox -e enforce-format

typecheck:
  tags:
    - CDAO
  stage: test
  image: python:3.9
  script:
    - echo "Test typechecking."
    - tox -e typecheck -vv

pages:
  tags:
    - CDAO
  stage: docs
  image: python:3.9
  variables:
    TQDM_DISABLE: true
  before_script:
    - apt-get update -qq
    - apt-get install -y pandoc
    - python --version  # For debugging
    - pip install virtualenv
    - TMP_DIR=$(mktemp -d)
    - virtualenv $TMP_DIR/venv
    - source $TMP_DIR/venv/bin/activate
    - python -m pip install --upgrade pip
    - pip install 'tox < 4'
  script:
    - tox -e docs
    - mv ./.tox/docs/build/html/ ./public
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - when: manual
      allow_failure: false

deploy:
  tags:
    - CDAO
  stage: deploy
  image: python:3.9
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - pip install build twine --upgrade
    - twine --version
    - python -m build
    - twine upload --repository-url $GITLAB_REPO_URL -u gitlab-ci-token -p $CI_JOB_TOKEN dist/*